<script>
    import Header from "./Header.svelte";
    import Banner from "./Banner.svelte";

    import Blogs from "./blogs/+layout.svelte";
    import Projects from "./projects/+layout.svelte";


</script>


<div class="app">
    <Header/>

    <main>
        <Banner/>
        <Projects/>
        <br><br>
        <Blogs/>

        <slot/>
    </main>

    <footer>
        Made by T.D.J. Rijpkema
    </footer>

</div>
