<script>
    import Fa from "svelte-fa";
    import {faGitlab} from "@fortawesome/free-brands-svg-icons";
    import {faBook} from "@fortawesome/free-solid-svg-icons";
</script>

<section id="home">

    <div class="banner">
        <div class="banner-text">
            <h3><q><s>“A Journey of a Thousand Miles Begins with a Single Step” (Lao Tzu)</s></q></h3>
            <h2><q> “The journey of a thousand lines begins with a single character” </q></h2>
        </div>

        <hr/>

        <ul class="social">
            <a href="https://gitlab.com/website-portfolio/website" class="button btn source-btn">
                <Fa icon={faBook} class="fa-fonts"/>
                Source code
            </a>
            <a href="https://gitlab.com/website-portfolio" class="button btn github-btn">
                <Fa icon={faGitlab} class="fa-fonts"/>
                Gitlab
            </a>
        </ul>
    </div>
</section>

<style>
    .banner {
        min-height: 70vh;
        margin: 25vh auto 0 auto;
        width: 85%;
        padding-bottom: 5px;
        text-align: center;
    }

    .banner-text {
        width: 100%;
    }

    .banner-text h2 {
        color: var(--secondary-color);
        font-size: 25px;
        letter-spacing: -1px;
        margin: 0 auto 18px auto;
    }

    .banner-text h3 {
        color: var(--secondary-color);
        font-size: 20px;
        letter-spacing: 0;
        margin: 0 auto 18px auto;

    }

    .banner hr {
        margin: 0 auto;
        height: 0.2em;
        width: 85%;

        /* Set the hr color */
        color: var(--secondary-color); /* old IE */
        background-color: var(--secondary-color); /* Modern Browsers */
    }
</style>