<script>
    let menu = ['home', 'projects', 'blogs'];
</script>

<header id="home">
    <nav id="nav-wrap">
        <a class="mobile-btn" href="#nav-wrap" title="Show navigation">Show navigation</a>
        <a class="mobile-btn" href="#home" title="Hide navigation">Hide navigation</a>


        <ul id="nav" class="nav">
            {#each menu as link}
                <li class="{link === 'home' ? 'current' : ''}">
                    <a class="smoothscroll" href="#{link}">{link}</a></li>
            {/each}
        </ul>

    </nav>
</header>


<style>
    header {
        position: relative;
        height: 5vw;
        width: 100%;

        text-align: center;
        overflow: hidden;
    }

    /* vertically center banner section */
    header:before {
        content: '';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
    }

    /* header social links */
    header .social a {
        margin-top: 1em;
        font-size: 1.5em;
    }


    /* scrolldown link */
    header .scrolldown a {
        position: absolute;
        bottom: 30px;
        left: 50%;
        margin-left: -29px;
        color: #fff;
        display: block;
        height: 42px;
        width: 42px;
        font-size: 42px;
        line-height: 42px;
        border-radius: 100%;

        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
        transition: all .3s ease-in-out;
    }

    /* ------------------------------------------------------------------ */
    /* c. Navigation Styles
    /* ------------------------------------------------------------------ */


    #nav-wrap ul, #nav-wrap li, #nav-wrap a {
        margin: 0;
        padding: 0;
        border: none;
        outline: none;
        display: inline;
    }

    /* nav-wrap */
    #nav-wrap {
        font: 14px 'opensans-bold', sans-serif;
        width: 100%;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin: 1em auto;
        z-index: 100;
        position: fixed;
        left: 0;
        top: 0;
    }

    /* hide toggle button */
    #nav-wrap > a.mobile-btn {
        display: none;
    }

    ul#nav {
        min-height: 48px;
        width: auto;

        /* center align the menu */
        text-align: center;
    }

    ul#nav li {
        position: relative;
        list-style: none;
        height: 48px;
        display: inline-block;

    }

    /* Links */
    ul#nav li a {
        /* 8px padding top + 8px padding bottom + 32px line-height = 48px */

        display: inline-block;
        padding: 8px 13px;
        line-height: 32px;
        text-decoration: none;
        text-align: left;
        color: #fff;

        -webkit-transition: color .2s ease-in-out;
        -moz-transition: color .2s ease-in-out;
        -o-transition: color .2s ease-in-out;
        -ms-transition: color .2s ease-in-out;
        transition: color .2s ease-in-out;

        border: solid transparent 1px;

    }

    ul#nav li a:active {
        background-color: transparent !important;
    }

    ul#nav li.current a {
        color: var(--orange);
    }


    ul#nav li a:hover,
    ul#nav li a:focus {
        border: 1px solid var(--orange);
    }


</style>


<slot/>
