<script>
    import Fa from "svelte-fa";
    import {faReadme, faGitlab} from "@fortawesome/free-brands-svg-icons";

    const mapping = {
        'gitlab': faGitlab,
        'project': faReadme,
    }


    let projects = [
        {
            "name": "Master Thesis",
            "image": "master-thesis.jpg",
            "language": "Python",
            "links": {
                "gitlab": "https://gitlab.com/website-portfolio/python/master-thesis",
                "project": "https://wiki.journeyofathousandlines.com/home/blogs/python/master-thesis"
            },
            "description": "On the road of creating self sufficient AI's, this thesis researches how to handle varying colors in a game."
        },
        {
            "name": "Sudoku SAT Solver",
            "image": "miracle sudoku.png",
            "language": "Python",
            "links": {
                "gitlab": "https://gitlab.com/website-portfolio/python/sudoku-sat-solver",
                "project": "https://wiki.journeyofathousandlines.com/home/blogs/python/sudoku-sat-solvers"
            },
            "description": "Solving miracle sudoku's using Boolean Satisfiability Solver (SAT-solver) in Python."
        },
        {
            "name": "Braitenberg vehicles",
            "image": "braitenberg.png",
            "language": "Python",
            "links": {
                "gitlab": "https://gitlab.com/website-portfolio/java/braitenberg",
                "project": "https://wiki.journeyofathousandlines.com/home/blogs/java/braitenberg"
            },
            "description": "Java Program in JMonkeyEngine to explain and show how Braitenburg vehicles work."
        },
        {
            "name": "Pathfinder Visualizer",
            "image": "pathfinder.png",
            "language": "Python",
            "links": {
                "gitlab": "https://gitlab.com/website-portfolio/python/pathfinder-visualizer",
            },
            "description": "Visualization of the A* (a-star) algorithm, using different gui implementations.."
        }
    ]


</script>


<section id="projects">
    <div class="container">
        <h2>Projects</h2>
        <div class="cards">
            {#each projects as project }
                <div class="card">
                    <a href="{project.links['gitlab']}">
                        <img src="images/projects/{project.image}" alt="{project.image}"/>
                    </a>

                    <div class="body">
                        <h3> {project.name} </h3>
                        <p>{project.description}</p>
                        <ul class="social">
                            {#each Object.entries(project.links) as [platform, link]}
                                <a href="{link}" class="button btn source-btn">
                                    <Fa icon={mapping[platform]} class="fa-fonts"/>
                                    {platform}
                                </a>
                            {/each}
                        </ul>
                    </div>
                </div>
            {/each}
        </div>
    </div>
</section>
