<script>
    import Fa from "svelte-fa";
    import {faReadme} from "@fortawesome/free-brands-svg-icons";


    let blogs = [
        {
            "name": "Machine Learning intro",
            "image": "machine learning.jpg",
            "language": "Python",
            "link": "https://apple.serpentineai.nl/education/roadmap/machine-learning",
            "description": "This blog series shows how to make machine learning models for games. It was build for new members of the Eindhoven Student Artificial Intelligence Association Serpentine, but is open for everyone."
        },
        {
            "name": "Pommerman",
            "image": "pommerman.png",
            "language": "Python",
            "link": "https://apple.serpentineai.nl/en/education/pommerman_introduction",
            "description": "Pommerman, the python version of the classic Bommerman, is used to teach you programming your first rule based AI (Artificial Intelligence) using python. For all programming levels. "
        }
    ]


</script>

<section id="blogs">
    <div class="container">
        <h2>Blogs</h2>

        <div class="cards">
            {#each blogs as blog }
                <div class="card">
                    <a href="{blog.link}">
                        <img src="images/blogs/{blog.image}" alt="{blog.image}"/>
                    </a>

                    <div class="body">
                        <h3> {blog.name} </h3>
                        <p>{blog.description}</p>
                        <ul class="social">
                            <a href="{blog.link}" class="button btn source-btn">
                                <Fa icon={faReadme} class="fa-fonts"/>
                                Blog post</a>
                        </ul>
                    </div>
                </div>
            {/each}
        </div>
    </div>
</section>